.testimonios {
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    padding-block-start: 40px;
    padding-block-end: 24px;
    text-align: center;
}

.testimonios-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    block-size: auto;  
    max-inline-size: 100%;
}

.testimonios-description h1 {
    font: var(--headline4);
    margin: 0;
    font-family: 'Oxygen', sans-serif; 
}

.testimonios-description h2 {
    font: var(--headline5);
    margin: 0;
    padding-block-start: 24px;
}

.leonidas-image {
    text-align: center;
    padding-block-start: 24px;
    margin: 0;
}

@media screen and (min-width: 768px){
    .testimonios {
        padding-inline-start: 223px;
        padding-inline-end: 223px;
        padding-block-start: 200px;
        padding-block-end: 200px;
        text-align: center;
    }
}